.trending {
  width: 100%;
  background-color: rgb(33, 31, 42);
  box-shadow: 20px -30px 80px 90px rgba(33, 31, 42, 1);
  border: none;
  position: relative;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending-title {
  color: #7bfbff;
  padding-top: 40px;
  margin-bottom: 9px;
}

.trending-items {
  margin: 9px auto;
  width: 1117px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
