.banner {
  width: 100%;
  height: 450px;
  background-color: black;
  position: relative;
  box-shadow: -1px -20px 86px 0px rgba(33, 31, 42, 1) inset;
}

.banner::before {
  content: "";
  background-image: url(https://devapi.luckytrip.co.uk/images/destinations/86.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.65;
}

.logo {
  width: 74px;
  height: 50px;
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.content {
  color: white;
  width: 700px;
  height: 115px;
  position: absolute;
  left: 50%;
  top: 268px;
  transform: translateX(-50%);
  text-align: center;
  letter-spacing: 0.06rem;
  font-weight: 900;
}

.title {
  font-size: 50px;
  margin-bottom: 7px;
  font-weight: 900;
}

.sub-title {
  font-size: 29px;
  opacity: 80%;
  font-weight: 900;
}

.search-container {
  position: absolute;
  left: 50%;
  top: 17px;
  transform: translateX(-50%);
}

.desc {
  position: absolute;
  left: 160px;
  top: 420px;
  z-index: 3;
  margin-bottom: 48px;
}

.desc-title {
  color: #ffed7b;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 22px;
}

.desc-content {
  color: white;
  font-size: 24px;
  font-weight: 400;
  width: 1118px;
}

.find-trip {
  background-color: rgb(33, 31, 42);
  width: 100%;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 140.02px;
  text-align: center;
}

.find-trip h1 {
  font-size: 32px;
  font-weight: 900;
  color: #ff7b99;
  margin-bottom: 9px;
}

.find-trip p {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-bottom: 40.91px;
}

.lucky-btn {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: white;
}

.lucky-btn img {
  margin: 0 auto;
  width: 109.27px;
  height: 113.07px;
}
