.banner {
  width: 100%;
  height: 450px;
  background-image: url(https://devapi.luckytrip.co.uk/images/destinations/86.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: -1px -20px 86px 0px rgba(33, 31, 42, 1) inset;
}

.logo {
  width: 74px;
  height: 50px;
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.content {
  color: white;
  width: 700px;
  height: 115px;
  position: absolute;
  left: 50%;
  top: 268px;
  transform: translateX(-50%);
  text-align: center;
  letter-spacing: 0.06rem;
  font-weight: 900;
}

.title {
  font-size: 50px;
  margin-bottom: 7px;
  font-weight: 900;
}

.sub-title {
  font-size: 29px;
  opacity: 80%;
  font-weight: 900;
}

.search-container {
  position: absolute;
  left: 50%;
  top: 17px;
  transform: translateX(-50%);
}

.desc {
  position: absolute;
  left: 160px;
  top: 420px;
  z-index: 3;
  margin-bottom: 48px;
}

.desc-title {
  color: #ffed7b;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 22px;
}

.desc-content {
  color: white;
  font-size: 24px;
  font-weight: 400;
  width: 1118px;
}
