.posts {
  width: 100%;
  background-color: rgb(33, 31, 42);
  box-shadow: 20px -30px 80px 90px rgba(33, 31, 42, 1);
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts-title {
  color: #7bfbff;
  padding-top: 180px;
  margin-bottom: 9px;
}

.posts-items {
  margin: 0 auto;
  width: 1117px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
