<div class="container">
    <div class="banner">
        <div class="logo">
            <img src='{./../../assets/images/LuckyTrip_Logo.png' alt="LuckyTrip_Logo">
        </div>
        <div class="content">
            <p class="title">Search LuckyTrip</p>
            <p class="sub-title">350 destinations, 1500 blog posts, Unlimited Trips</p>
        </div>
        <div class="search-container">
            <app-search-bar (onSearchSubmit)='search($event)'></app-search-bar>
        </div>
    </div>
    <app-trending [destination]="destination"></app-trending>
</div>
