/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: AvenirBook;
  src: url(./assets/fonts/AvenirLTStd-Book.otf) format("truetype");
}

@font-face {
  font-family: AvenirBlack;
  src: url(./assets/fonts/AvenirLTStd-Black.otf) format("truetype");
}

@font-face {
  font-family: AvenirRoman;
  src: url(./assets/fonts/AvenirLTStd-Roman.otf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: AvenirRoman;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.logo {
  width: 74px;
  height: 50px;
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 50px;
  margin-bottom: 7px;
  font-weight: 900;
}

.sub-title {
  font-size: 29px;
  opacity: 80%;
  font-weight: 900;
}

.load {
  color: white;
  width: 1117px;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load img {
  width: 100px;
  height: 100px;
}
